@use "./variables.scss" as *;

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Themes

:root {
  --background: #fff;
  --text-primary: #000;
}

[data-theme="dark"] {
  --background: #121212;
  --text-primary: #fff;
}
