@use "./variables.scss" as *;

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Themes

:root {
  --background: #ffffff;
  --text-primary: #000000;
  --button-fill: #121212;
  --button-text: #ffffff;
  --text-high-emphasis: 87%;
}

[data-theme="dark"] {
  --background: #121212;
  --text-primary: #ffffff;
  --button-fill: #ffffff;
  --button-text: #121212;
  --text-high-emphasis: 87%;
}
