@use "./variables.scss" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Typography

@mixin page-heading {
  font-size: 1rem;
  font-weight: 400;
  opacity: var(--text-high-emphasis);
}

@mixin section-heading {
  font-size: 1rem;
  font-weight: 500;
  opacity: var(--text-high-emphasis);
}

@mixin body-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: var(--text-high-emphasis);
}

@mixin button {
  background-color: var(--button-fill);
  color: var(--button-text);
  width: fit-content;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
