// Media Breakpoints

$breakpoint--tablet: 768px;
$breakpoint--desktop: 1280px;

// Colors

$background--default: #ffffff;
$background--dark: #121212;
$text-primary--default: #000000;
$text-primary--dark: #ffffff;
$button-color--default: #121212;
