@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;
@use "../../styles/global.scss" as *;

.card {
  border-radius: 0.25rem;
  background: var(--card-background);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 10rem;
  // width: 100%;
  transition: all 0.5s;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1.5rem;
    }
    &--text {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }
  &__title {
    @include section-heading-small;
  }
  &__description {
    @include body-text-low-emphasis;
  }
}
