@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;
@use "../../styles/global.scss" as *;

.work {
  &__container {
    &--section {
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__heading {
    @include section-heading-small;
  }
}
